*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: linear-gradient(to right, #ed4264, #ffedbc);
}

/* title Section */
.title h1{
    font-family: "Ga Maamli", sans-serif;
    color: yellow;
    text-align: center;
    font-size: 5em;
    margin-top: 44px;
}

.title hr{
    margin: auto;
    width: 23em;
}

/* Watch Section */
.container{
    margin: auto;
    margin-top: 42px;
    background-color: black;
    width: 63%;
    height: 21%;
    padding-top: 7px;
    border-radius: 33px;
    box-shadow: 2px 3px 4px rgba(0,0,0,0.3)
}

.time-container{
    color: red;
    display:flex;
    justify-content: space-evenly;
    align-items: center;
    height: 144px;
    font-size: 170px;
    padding: 41px;
}

.colon{
    padding-bottom: 41px;
}

/* Button Section */
.btn-class{
    margin: 40px;
    text-align: center;
    
}

.btn{
    font-size: 20px;
    width: 7em;
    height: 2em;
    margin: 30px;
    border-radius: 30px;
    background-color: transparent;
}

.btn:hover{
    cursor: pointer;
    background-color: white;
}

/* Lap Section */
.lap{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow: auto;
}

.lap-item{
    list-style: none;
    border: 2px solid black;
    font-size: 2.5em;
    padding: 23px;
    border-radius: 50px;
    margin: 23px;
    width: 93%;
    text-align: center;
    background: linear-gradient(to right, rgb(310, 28, 97), rgb(307, 201, 148));
}

.number{
    margin-right: 45px;
}

.clr-btn{
    background-color: rgba(255, 255, 255,0.7);
    display: none;
}

/* Media Queries */
@media(max-width: 1000px){
  .title h1{
    font-size:3em;
  }

  .title hr{
    width: 13em;
  }

  .container{
    width: 95%;
    height: 15%;
  }

  .time-container{
    height: 93px;
    font-size: 83px;
    padding: 19px;
  }

  .colon{
    padding-bottom: 19px;
  }

  .btn{
    margin: 9px;
  }

  .btn-class{
    margin: 46px;
  }

  .lap-item{
    font-size: 1.5em;
  }
}